$spaces: (
  space-xs: 8px,
  space-sm: 16px,
  space-md: 32px,
  space-lg: 64px,
  space-xl: 128px
);

$color-theme: #A256FF;
$color-theme-dark: darken($color-theme, 10);
$color-black: #000;
$color-anthracite: #333;
$color-white: #fff;

html {
  font-size: 16px;
}

body {
  font-family: sans-serif;
  color: $color-anthracite;
}

h1 {
  font-size: 3.5rem;
  line-height: 1;
  margin-top: 4rem;
  margin-bottom: 0;
}

h2 {
  font-size: 2rem;
  line-height: 1;
  margin-top: 3rem;
  margin-bottom: 0;
}

h3 {
  font-size: 1.5rem;
  line-height: 1;
  margin-top: 3rem;
  margin-bottom: 0;
}

p {
  font-size: 1rem;
  line-height: 1.8;
  margin-top: 1.6rem;
  margin-bottom: 0;
}

a {
  color: $color-theme;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: $color-theme-dark;
  }
}

blockquote {
  border-left: 3px solid $color-theme;
  margin: 1.6rem 0 1.6rem 1rem;
  padding: 1rem 0 1rem 2rem;
  font-style: italic;
  line-height: 1.8;
}

button {
  background-color: $color-theme;
  color: $color-white;
  font-weight: 700;
  padding: 1rem .8rem;
  border: none;
  border-radius: 4px;
}

img {
  max-width: 100%;
}


.container {
  width: auto;
  margin-top: 0;
  margin-left: map-get($spaces, space-md);
  margin-right: map-get($spaces, space-md);
  margin-bottom: map-get($spaces, space-md);
  @media screen and (min-width: 768px) {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
}

/**
UTILS
**/

.m-0 {
  margin: 0;
}

@mixin makeMarginUtils() {
  $sizes: ('xs', 'sm', 'md', 'lg', 'xl');
  $dimensions: ('x', 'y', 't', 'b', 'l', 'r');

  @each $dim in $dimensions {
    @each $size in $sizes {
      .m#{$dim}-#{$size} {
        @if $dim == 'x' {
          margin-right: map-get($spaces, space-#{$size}) !important;
          margin-left: map-get($spaces, space-#{$size}) !important;
        }
        @if $dim == 'l' {
          margin-left: map-get($spaces, space-#{$size}) !important;
        }
        @if $dim == 'r' {
          margin-right: map-get($spaces, space-#{$size}) !important;
        }
        @if $dim == 'y' {
          margin-top: map-get($spaces, space-#{$size}) !important;
          margin-bottom: map-get($spaces, space-#{$size}) !important;
        }
        @if $dim == 't' {
          margin-top: map-get($spaces, space-#{$size}) !important;
        }
        @if $dim == 'b' {
          margin-bottom: map-get($spaces, space-#{$size}) !important;
        }
      }
    }
  }
}

@include makeMarginUtils();

/**
HEADER
**/

header {
  margin: map-get($spaces, space-sm) 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
}

.page-title {
  font-size: 1rem;
  margin: 0 0 0 map-get($spaces, space-md);
  color: $color-theme;
}

.ml5-logo {
  height: 48px;
}

/**
NAV
**/

nav {
  margin: map-get($spaces, space-md) 0;

  display: flex;
  flex-flow: row wrap;

  a {
    font-weight: bold;
    margin-right: map-get($spaces, space-sm);
    margin-bottom: map-get($spaces, space-sm);
  }
}

/**
FOOTER
**/

footer {
  margin: map-get($spaces, space-lg) 0 map-get($spaces, space-md) 0;
}

/**
FLEX GRID
**/

@mixin makeColumns($columns: 12, $gutter: map-get($spaces, space-xs)) {
  @for $i from 1 through $columns {
    $width: ( $i / 12 ) * 100 * 1%;
    .col-#{$i} {
      flex-basis: 100%;

      @media screen and (min-width: 768px) {
        flex-basis: calc(#{$width} - #{2 * map-get($spaces, space-xs)});
        margin: 0 map-get($spaces, space-xs);
      }
    }
  }
}

@include makeColumns();

.flex-grid {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -map-get($spaces, space-xs);
}

/**
STYLE TRANFER 
**/

.status-text {
  margin-top: map-get($spaces, space-xs);
}

#image-input {
  margin-top: map-get($spaces, space-sm);
}
